body {
    background-color: dimgray;
}

p {
    font-family: monospace;
    text-align: center;
    color:cornsilk
}

h1, h2, h3, h4, h5, h6 {
    font-family: monospace;
    color:cornsilk
    font-style: italic;
    text-align: right;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    color:white;
    font-style: normal;
}

h2 {
    color: black;
}